<div class="tausta">
  <div class="tausta2">
<br>
<section class="box">
  <br>
  <h1>Baby Shower Wishlist</h1>
  <label>{{ kysymys }}</label>
  <br>
  <div [hidden]="clicks === 8">
    <input class="vastaus-input" type="text" (input)=vastausYksi($event) [(ngModel)]="parent.babyvastaus">
  </div>
  <br>
  <button [disabled]="parent.babyvastaus.length < 1" [hidden]="clicks === 8" (click)="uusiKysymys()" class="btn btn-info">Next</button>
  <button [hidden]="clicks < 8" routerLink="/babyprint" class="btn btn-info">Print</button>
  <div class="fantti"></div>
</section>
</div>
</div>
