<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=not">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <title>Wishlist Pages</title>
</head>
<body>
   <div class="taustakuva">
      <router-outlet></router-outlet> 
   </div>
   <div class="credits">
      <p>@ Siiri Hintsala, Gerald Lee & Aleksandra Dahlqvist</p>
   </div>
</body>
</html>