<section class="tausta">
  <br>
<section class="box">
  <br>
  <h1>Wishes for baby and mommy,</h1> 
  <ul>
      <li>The baby would love to wear <strong>{{parent.babyvastaukset[2]}}</strong>,</li>
      <li>The baby really needs a <strong>{{parent.babyvastaukset[3]}}</strong>,</li>
      <li><strong>{{parent.babyvastaukset[4]}}</strong> to read,</li>
      <li> mom really needs a <strong>{{parent.babyvastaukset[5]}}</strong>,</li>
      <li>mom would love to have <strong>{{parent.babyvastaukset[6]}}</strong> for treats</li>
      <li>and <strong>{{parent.babyvastaukset[7]}}</strong> for the family.</li>
  </ul>
  <p>With love for our,</p>
  <p class="tiedot">{{parent.babyvastaukset[0]}}</p>
  <div class="fantti"></div>
</section>
</section>
