<div class="taustakuva">
<br>
<section class="box">
  <br>
  <h1>Dear Santa,</h1> 
  <p>I have been very good all year long! </p>
  <p>I really hope my name is on the nice list!</p>
  <p>For Christmas This Year...</p>
  <ul>
      <li>I want <strong>{{parent.vastaukset[0]}}</strong>,</li>
      <li>I need <strong>{{parent.vastaukset[1]}}</strong>,</li>
      <li><strong>{{parent.vastaukset[2]}}</strong> to wear,</li>
      <li><strong>{{parent.vastaukset[3]}}</strong> to read,</li>
      <li><strong>{{parent.vastaukset[4]}}</strong> to do,</li>
      <li>and <strong>{{parent.vastaukset[5]}}</strong> for my family.</li>
  </ul>
  <p>Love Always,</p>
  <p class="tiedot">{{parent.nimi}}, {{parent.ika}}</p>
</section>
</div>