<section class="tausta">
<br>
<section class="box">
  <br>
  <h1>Thank you for celebrating with us!</h1> 
  <ul>
      <li><strong>The Big Day: {{parent.vastaukset[1]}}</strong></li>
      <p>Here's a few things that would help making </p>
      <p>our dreams come true:</p>
      <li><strong>{{parent.vastaukset[2]}}</strong> is something we've always wanted,</li>
      <li><strong>{{parent.vastaukset[3]}}</strong> is something we need,</li>
      <li><strong>{{parent.vastaukset[4]}}</strong> for the honeymoon,</li>
      <li>and <strong>{{parent.vastaukset[5]}}</strong> for our future.</li>
      <li><strong>{{parent.vastaukset[6]}}</strong> so we won't get bored,</li>
      <li>and <strong>{{parent.vastaukset[7]}}</strong> would be really special to us.</li>
  </ul>
  <p class="tiedot"><strong>With Love, {{parent.vastaukset[0]}}</strong></p>
</section>
</section>