<div class="tausta-kuva">
  <section class="printSyndetBox">
    <br />
    <h2>These are few of my</h2>
    <h1>Favorite things</h1>
    <ul class="printsyndeUL">
      <li>
        My Favorite places to eat:
        <strong>{{ parent.syndeVastaukset[0] }}</strong>
      </li>
      <li>
        I really like shopping at:
        <strong>{{ parent.syndeVastaukset[1] }}</strong>
      </li>
      <li>
        I would love a giftcard to:
        <strong>{{ parent.syndeVastaukset[2] }}</strong>
      </li>
      <li>
        I like these bath and body works scents:
        <strong>{{ parent.syndeVastaukset[3] }}</strong>
      </li>
      <li>
        My favorite candies and snacks are:
        <strong>{{ parent.syndeVastaukset[4] }}</strong>
      </li>
      <li>
        My favorite cookies and cakes are:
        <strong>{{ parent.syndeVastaukset[5] }}</strong>
      </li>
      <li>
        I like: <strong>{{ parent.syndeVastaukset[6] }}</strong>
      </li>
      <li>
        My favorite flowers are:
        <strong>{{ parent.syndeVastaukset[7] }}</strong>
      </li>
      <li>
        Other ideas that I would like for my birthday:
        <strong>{{ parent.syndeVastaukset[8] }}</strong>
      </li>
    </ul>
  </section>
</div>
